@charset "utf-8"
p{
    margin: 0;
    padding:0;
}
body{
    background-color: #F5F5F5;
}
textarea{
    resize: none;
}
.main{
    font-weight: normal;
    width: 600px;
    background-color: #fff;
    margin-left: auto ;
    margin-right: auto ;
}
/*index.php title*/
.title{
    font-size: 20px ;
}
.tweet_div{
    padding-top: 8px;
    padding-bottom: 8px;
}
/*tweet time*/
.datetime_div{
    font-size: 14px;
    width: auto;
    float:right;
}
/*tweet username*/
.usr_id_div{
    font-size: 14px;
    width: auto;
    float:left;
}
/*tweet content*/
.content_div{
    font-size: 18px;
    padding-top: 3px;
    clear:both;
}
